/*
	@ Harris Christiansen (Harris@HarrisChristiansen.com)
	2016-09-18
	Project: HTML5 Boilerplate
*/

/* ------------------------ HTML/Body ------------------------- */

html, body {
	background-color: black;
	height: 100%
}

body {
	padding-top: 55px;
}

/* ------------------------ Tables ------------------------- */

.table-clickable tbody tr:hover {
	cursor: pointer;
}

/* ------------------------ Centering Elements ------------------------- */

#centerContainer {
	 position: relative;
	 height: 100%;
}

#centerElement {
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	width: 100%;
}

/* ------------------------ Authentication ------------------------- */

#loginForm input, #registerForm input, #addForm input, #addForm select, #difficulty_slider {
	text-align: center;
	background: transparent;
	-webkit-appearance: none;
	border: 1px solid green;
	color: green;
}

#difficulty_min {
	margin-top: 20px;
	float: left;
	padding-bottom: 10px;
}

#difficulty_max {
	margin-top: 20px;
	float: right;
	padding-bottom: 10px;
}

#loginForm input::-webkit-input-placeholder, #registerForm input::-webkit-input-placeholder {
	color: green;
}

/* ------------------------ End ------------------------- */
